.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  gap: 100px;
  padding: 0 10px;
}

.minus {
  display: none;
}

@media (max-width: 390px) {
  .minus {
    display: block;
  }
}

.header {
  background-image: url("./images/pattern-circles.svg"), url("./images/bg-pattern.svg");
  background-repeat: no-repeat;
  background-position: center 15%, top;
  background-size: auto, contain;
}

.header__text {
  text-align: center;
}

.header-title {
  margin-bottom: 5px;
  color: #293356;
}

.trial__box {
  -webkit-box-shadow: 4px 4px 60px 11px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 60px 11px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 60px 11px rgba(34, 60, 80, 0.2);
  padding: 25px 30px 30px;
  background-color: white;
  border-radius: 12px;
  max-width: 450px;
  width: 100%;
  position: relative;
}

.trial__box::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #cdd7ee;
  left: 0;
  bottom: 130px;
}

@media (max-width: 390px) {
  .trial__box::before {
    bottom: 195px;
  }
}

.trial__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.trial__top-title {
  color: #858fad;
  font-size: 15px;
  font-weight: 600;
}

@media (max-width: 390px) {
  .trial__top-title {
    font-size: 12px;
  }
}

.trial__top-price {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 800;
  color: #293356;
  font-size: 40px;
}

@media (max-width: 390px) {
  .trial__top-price {
    font-size: 30px;
    gap: 5px;
  }
}

.trial__center {
  margin-bottom: 50px;
}

.trial__center-plans {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.trial__center-p {
  font-size: 12px;
  font-weight: 600;
}

@media (max-width: 390px) {
  .trial__center-p {
    display: flex;
    font-size: 10px;
  }
}

.trial__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 390px) {
  .trial__bottom {
    flex-direction: column;
    gap: 25px;
  }
}

.trial__button {
  padding: 11px 38px;
  font-size: 14px;
  color: white;
  background-color: #293356;
  border-radius: 16px;
  border: none;
  font-weight: 600;
  transition: background-color 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.trial__button:hover {
  background-color: #384471;
}

.range__box {
  position: relative;
}

.range__item {
  position: relative;
  z-index: 2;
  width: 100%;
  background-color: transparent;
  -webkit-appearance: none;
  outline: none;
  border-radius: 8px;
  height: 10px;
}

.range__item::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  background-color: #10d5c2;
  cursor: pointer;
  outline: none;
  background-image: url("./images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.6s, box-shadow 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.range__item::-webkit-slider-thumb:hover {
  -webkit-box-shadow: 0px 25px 51px -5px #10d5c2;
  -moz-box-shadow: 0px 25px 51px -5px #10d5c2;
  box-shadow: 0px 25px 51px -5px #10d5c2;
}

.range__item::-webkit-slider-thumb:active {
  background-color: #0eb9a8;
}

.bar {
  position: absolute;
  z-index: 1;
  width: 99%;
  height: 10px;
  border-radius: 8px;
  top: 7px;
  left: 2px;
  background-color: #eaeefb;
  overflow: hidden;
}

.bar__fill {
  display: block;
  width: 0;
  height: 10px;
  background-color: #a5f3eb;
}

@media (max-width: 390px) {
  .dicount {
    display: none;
  }
}

.dicount__box {
  margin-left: 4px;
  font-size: 10px;
  padding: 1px 4px;
  background-color: #feece7;
  border-radius: 8px;
  color: #ff8c66;
}

@media (max-width: 390px) {
  .dicount__box {
    display: flex;
    align-items: center;
  }
}

.conditions-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.conditions-item {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox__box {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
}

.checkbox__circle {
  background-color: #cdd7ee;
  border-radius: 18px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.checkbox__circle::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 4px;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  background-color: white;
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

input[type="checkbox"]:checked + .checkbox__circle {
  background-color: #10d5c2;
}

input[type="checkbox"]:checked + .checkbox__circle::before {
  transform: translateX(19px);
}
